<div class="d-flex justify-content-center align-items-center">
    <form #loginForm="ngForm" (submit)="register()" class="container mt-5 w-50 border p-4 rounded shadow-sm">
      <h2 class="text-center mb-4">Register</h2>
      
      <div class="mb-3 form-group" 
      [ngClass]="{'has-danger': userName.invalid && (userName.dirty || userName.touched), 'has-success': userName.valid && (userName.dirty || userName.touched)}">
        <label for="username" class="form-label">Email:</label>
        <input [ngClass]="{'is-invalid': userName.invalid && (userName.dirty || userName.touched), 'is-valid': userName.valid && (userName.dirty || userName.touched)}"
        type="text" 
        id="username" 
        name="username" 
        #userName="ngModel"
        [(ngModel)]="username" 
        required 
        (input)="clearErrorMessage()"
        class="form-control" 
        placeholder="Username" 
        minlength="3">
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="form-control-feedback">
          <div *ngIf="userName.errors?.['required']">Email is required.</div>
          <div *ngIf="userName.errors?.['minlength']">Email must be at least 3 characters long.</div>
        </div>
      </div>
      
      <div class="mb-3 form-group"
      [ngClass]="{'has-danger': userPass.invalid && (userPass.dirty || userPass.touched), 'has-success': userPass.valid && (userPass.dirty || userPass.touched)}">
        <label for="password" class="form-label">Password:</label>
        <input [ngClass]="{'is-invalid': userPass.invalid && (userPass.dirty || userPass.touched), 'is-valid': userPass.valid && (userPass.dirty || userPass.touched)}"
        type="password" 
        id="password" 
        name="password" 
        #userPass="ngModel"
        [(ngModel)]="password" 
        required 
        (input)="clearErrorMessage()"
        class="form-control" 
        placeholder="Password"    
        minlength="3">
        <div *ngIf="userPass.invalid && (userPass.dirty || userPass.touched)" class="form-control-feedback">
          <div *ngIf="userPass.errors?.['required']">Password is required.</div>
          <div *ngIf="userPass.errors?.['minlength']">Password must be at least 3 characters long.</div>
        </div>
      </div>
    
      <button type="submit" class="btn btn-primary w-100" [disabled] = "loginForm.invalid">Create Account</button>
      <a class="text-center d-block mt-3" (click)="toggle.emit()" style="color: black; font-weight: bold; text-decoration: none;">Back to Login</a>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </form>
  </div>